@model IntegrationProject.Models.AdminBarVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<right>
    <a class="btn btn-primary" asp-action="IncreaseRadius" asp-controller="Admins">Increase Bar Radius</a>
</right>
<table class="table">
    <thead>
        <tr>
            <th>
                Bar
            </th>
            <th>
                Location
            </th>
            <th>
                Survey Done?
            </th>
            <th>

            </th>
            <th>
                Current Admin
            </th>
            <th>

            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.bars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bar.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bar.Address)
            </td>

            @Html.HiddenFor(modelItem => item.CompletedSurvey)
            @if (item.CompletedSurvey == false)
            {
                <td><button class="btn btn-primary disabled" disabled>No</button></td>

            }
            else
            {
                <td><button class="btn btn-success disabled" disabled>Completed</button></td>
            }

            @if (item.CompletedSurvey == false)
            {
                <td><a class="btn btn-primary" asp-action="DoSurvey" asp-route-id="@item.bar.Id">Fill out survey</a></td>

            }
            else
            {
                <td><a class="btn btn-default" asp-action="DoSurvey" asp-route-id="@item.bar.Id">Retake survey</a></td>
            }



            @Html.HiddenFor(modelItem => item.adminName)
            @if (item.adminName == null)
            {
                <td>Needs Admin</td>
            }
            else
            {
                @if (item.bar.AdminId == Model.admin.Id)
                {
                    <td>You</td>
                }
                else
                {
                    <td>@item.adminName</td>
                }
            }
            <td>
                @if (item.adminName == null)
                {
                <a class="btn btn-default" asp-action="AddAdmin" asp-controller="Admins" asp-route-id="@item.bar.Id">Assign to me</a>
                }
                
                </td>


            </tr>
}
    </tbody>
</table>
