@model IntegrationProject.Models.MemberEventVM
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Member/_EventsLayout.cshtml";
}

<h2>Your Events</h2>

<right>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Events" asp-route-id="@Model.member.ApplicationUserId">Create Event</a>
</right>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Name
            </th>
            <th>
                Starting Location
            </th>
            <th>
                Creator
            </th>
            <th>
               
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.@events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>@Html.DisplayFor(modelItem => item.Origin.Name)</td>

               <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</td>

                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>



            </tr>
        }
    </tbody>
</table>
