@model IntegrationProject.Models.MemberBarVM

@{
    ViewData["Title"] = "Index";
}

<h2>Your Matches</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model.matchedBars)
        {
            <div class="col-sm-4">
                <center>
                    <div class="card" style="width: 35rem;">
                        <img class="card-img-top" src="@item.bar.Image_Url" alt="Card image cap" height="180" width="286">
                        <div class="card-body">
                            <h5 class="card-title">@item.bar.Name</h5>
                            <p class="card-text">@item.bar.YelpRating Stars</p>
                            <p class="card-text">@item.bar.Phone</p>
                            <p class="card-text">@item.bar.Address</p>
                            <p class="card-text">@item.bar.City, @item.bar.State, @item.bar.Zipcode</p>
                            <p class="card-text">@item.score% match!</p>
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Bar" asp-route-id="@item.bar.Id">Details</a>
                        </div>
                    </div>
                </center>
            </div>
        }
    </div>
</div>
