@model IntegrationProject.Models.Bar

@{
    ViewData["Title"] = "Details";
}
<center>
    <h2>@(Model.Name)</h2>
    <img class="dl-horizontal" src="@(Model.Image_Url)" height="240" width="360" />
</center>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Ratings
        </dt>
        <dd>
            @if (Model.Ratings.Count > 0)
            {
                <div>eBarmony: @Model.Ratings.Average(r => r.userRating) stars out of 5</div>
            }
            else
            {
                <div>eBarmony: No ratings yet</div>
            }
            <div>Yelp: @Model.YelpRating  stars out of 5</div>

        </dd>
        <dt>
            eBarmony Reviews
        </dt>
        <dd>
            @foreach (var Item in Model.Comments)
            {
                <div>
                    @Item.userComment
                </div>
            }
        </dd>

        <dt>
            Yelp Reviews
        </dt>
        <dd>
            @foreach (var Item in ViewBag.Reviews)
            {
                <div>
                    @Item
                </div>
            }
        </dd>
    </dl>
</div>
@if (User.IsInRole("Member"))
{
    <hr />
    <form asp-action="UploadImageAsync" asp-controller="Bar">
        <input type="text" name="imgur" />
        <input type="submit" value="Submit"  />
    </form>
    <!--<form id="imgur">
        <input type="file" class="imgur" accept="image/*" data-max-size="5000" />
    </form>-->
    <form asp-action="Details" asp-controller="Bar" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <label asp-for="Ratings" class="control-label">Rating:</label>
            <select name="Rating" id="Rating" asp-items="Survey.RATING.Select(rating => new SelectListItem { Text = rating.Key, Value = rating.Value.ToString() })" class="form-control"></select>
            <span asp-validation-for="Ratings" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="control-label">Add Review</label>
            <textarea name="Comment" id="Comment" class="form-control" placeholder="Add review"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>




    </form>

}
<div>
    @if (User.IsInRole("Admin"))
    {
        <span><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | </span>
        <a asp-action="Index" asp-controller="Admin">Back to List</a>
    }
    else if (User.IsInRole("Member"))
    {
        <a asp-action="Index" asp-controller="Member">Back to List</a>
    }
    else
    {
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script>
    $("document").ready(function () {

        $('input[type=file]').on("change", function () {

            var $files = $(this).get(0).files;

            if ($files.length) {

                // Reject big files
                if ($files[0].size > $(this).data("max-size") * 1024) {
                    console.log("Please select a smaller file");
                    return false;
                }

                // Replace ctrlq with your own API key
                var apiUrl = 'https://api.imgur.com/3/image';
                var apiKey = @Credentials.ImgurApi;

                var formData = new FormData();
                formData.append("image", $files[0]);

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": apiUrl,
                    "method": "POST",
                    "datatype": "json",
                    "headers": {
                        "Authorization": "Client-ID " + apiKey
                    },
                    "processData": false,
                    "contentType": false,
                    "data": formData,
                    beforeSend: function (xhr) {
                        console.log("Uploading");
                    },
                    success: function (res) {
                        console.log(res.data.link);
                        $('body').append('<img src="' + res.data.link + '" />');
                    },
                    error: function () {
                        alert("Failed");
                    }
                }
                $.ajax(settings).done(function (response) {
                    console.log("Done");
                });
            }
        });
    });
</script>
