@model IntegrationProject.Models.Bar

@{
    ViewData["Title"] = "Details";
}

<h2>@(Model.Name)</h2> 
<img class="dl-horizontal" src="@(Model.Image_Url)" height="240" width="360"/>
<div>
    <h4>Bar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Comments
        </dt>
        <dd>

            @foreach (var Item in Model.Comments)
            {
                <div>
                    @Item.userComment
                </div>
            }
        </dd>
        <dt>
           Yelp Reviews
        </dt>
        <dd>

            @foreach (var Item in ViewBag.Reviews)
            {
                <div>
                    @Item
                </div>
            }
        </dd>
    </dl>
</div>
<form asp-action="AddReview" asp-controller="Bar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <div class="form-group">
        <label asp-for="Comments" class="control-label">Add Review</label>
        <textarea asp-for="Comments" class="form-control" placeholder="Add review"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
