@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <div class="row">
            @foreach (var business in ViewBag.Businesses)
            {
            <div class="col-sm-4">
                <center>
                    <div class="card" style="width: 35rem;">
                        <img class="card-img-top" src="@business.image_url" alt="Card image cap" height="180" width="286">
                        <div class="card-body">
                            <h5 class="card-title">@business.name</h5>
                            <p class="card-text">@business.rating Stars</p>
                            <p class="card-text">@business.display_phone</p>
                            <p class="card-text">@business.location.address1</p>
                            <p class="card-text">@business.location.city, @business.location.state, @business.location.zip_code</p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </center>
            </div>
            }
        </div>
    </div>
